# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv/
env/
venv/

# Database files
*.db

# Processed and raw CSV files
data/**/*.csv

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
.pytest_cache/
.cover/

# Logs
*.log

# Jupyter
.ipynb_checkpoints/

# VSCode
.vscode/

# Misc
.DS_Store

# ML model artifacts
*.joblib
*.pkl
models/
artifacts/